@import "tailwindcss";


@font-face {

  font-family: 'Bebas Neue'; 

  src: url('/fonts/BebasNeue-Regular.woff2') format('ttf'); 

  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

h1,h2,h3 ,h4 {
    font-family: 'Bebas Neue', sans-serif;
}
p{
  font-family:  sans-serif;

}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden

}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .animate-slide-in {
    animation: slideIn 0.3s ease-out;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}