@import "tailwindcss";


@font-face {

  font-family: 'Bebas Neue'; 

  src: url('/fonts/BebasNeue-Regular.woff2') format('ttf'); 

  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

h1,h2,h3 ,h4 {
    font-family: 'Bebas Neue', sans-serif;
}

.nav-container{
  padding:  0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #000000;
  color: white;

}

.left-nav ul  , .right-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
body{
  min-height: 100vh;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.shopping-cart-svg{
  width: 24px;
  height: 24px;
  fill: white;
}